<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>   
        <add name="DbCriptoHub" 
             connectionString="Data Source=LAPTOP-O50L6FC1\MSSQLSERVER02;Initial Catalog=CRIPTOHUB;Integrated Security=True;"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>